/* 
|*************************************************************************;
* ScriptName    : CSS Global Root  
* ScriptPath    : /src/app.css
|*************************************************************************;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*
|*************************************************************************;
* Stylesheets Global Var
|*************************************************************************;
*/

:root {
    /*--main-font: "VT323", monospace; */
    --main-font: 'Roboto Mono', monospace;
    /*font-family: 'Poppins', sans-serif;*/
    --sub-font: 'Roboto Mono', monospace;
    /* Color */
    --style-01: #284b63;
    --style-02: #284b63;
    --style-03: #fff;
    --style-04: #fff;
    /* Base Properties */
    /* Cursor Setting */
    --main-cursor-default: default;
    --main-cursor-grab: grab;
    --main-cursor-grabbing: grabbing;
    --main-cursor-pointer: pointer;
    --main-cursor-text: text;
    /* Text Settings */
    --main-text-shadow: 0px 0px 4px rgb(0, 0, 0);
    --panel-color: rgba(0, 0, 0, 0.135);
    /* Default Box Shadow */
    --webkit-bs-default: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    --moz-bs-default: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    --box-bs-default: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    /* Inset Box Shadow */
    --webkit-bs-inset: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    --moz-bs-inset: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    --box-bs-inset: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    /* Border Properties */
    --border-radius-none: 0rem;
    --border-radius: 3px;
    /* Scale Properties Properties */
    --prop-scale-norm: scale(1);
    --prop-scale-moz: scale(1);
    --prop-scale-ms: scale(1);
    --prop-scale-webkit: scale(1);
}


/*
|*************************************************************************;
* Page Properties 
|*************************************************************************;
*/


/* Remove Body Scroll */
::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}
/* Remove Body Text Highlight */

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */

::-moz-selection {
    color: none;
    background: none;
}


@-moz-document url-prefix() {
    html,
    body {
        overflow: hidden !important;
    }
}

html,
body {
    margin: 0;
}

#root {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 100%;
    padding: 10px;
    text-align: center;
}

/* When the browser is at least 1000px and above set #root max width to half the page */
@media screen and (min-width: 1000px) {
    #root {
        max-width: 50%;
    }
}